# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\code5\Echarts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
